* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background-color: azure;
  color: black;
  /*garante que o body ocupe toda a altura da tela*/
  min-height: 100vh;
}

header {
  background-color: aquamarine;
  padding: 20px;
  color: blue;
  text-align: center;
}

.logo{
    /*Uso do flexbox para alinhar a logo e o título*/
    display: flex;
    /*Alinha verticalmente os itens da div em questao*/ 
    align-items: center;
    /*Centraliza os itens horizontalmente*/
    justify-content: center;

    background-color: rgb(0, 176, 196); 
    
}

img {
    max-width: 150px;
    margin-right: 10px;


}